body {
  background-color: #fcfdff
}
.form-group {
  margin: 5px;
  padding: 15px;
}

.card{
  background-color: #eeffed;
  border-width: 2px;
  border-color: black;
  padding: 10px;

}

.card h1 {
  color: black;
  font-size: 4em;
  font-weight: lighter;
  padding-bottom: 25px;
}

.card-body {
  border: 0;

}

.row {
  border-width: 0;
  display: block;
  margin-bottom: 70px;
  margin-top: 25px;
}

 {
  margin: 50px;
}

h1 {
  font-size: 6em;
  color: #ff9191;
  font-family: 'Encode Sans Condensed', sans-serif;
  text-align: center;
}

p {
  font-family: 'Thasadith', sans-serif;
}


input {
  margin-bottom: 10px;
}

select {
  margin-bottom: 10px;
}

.btn {
  margin-top: 15px;
}

#recommendation .card {
  display: none;
}

img {
  height: 125px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: 100px;
  width: auto;
}

#heading {
  width: auto;
  height: auto;
  border: 0;
  margin-top: 50px;
  margin-bottom: 50px;
  -webkit-align-content: center;
  align-content: center;
}

.hi {
  font-size: 3em;
  font-weight: lighter;
}
